<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActivityImages</key>
	<array>
		<dict>
			<key>img</key>
			<string>acting.png</string>
			<key>txt</key>
			<string>Acting</string>
		</dict>
		<dict>
			<key>img</key>
			<string>airsoft.png</string>
			<key>txt</key>
			<string>Airsoft</string>
		</dict>
		<dict>
			<key>img</key>
			<string>airsports.png</string>
			<key>txt</key>
			<string>Airsports</string>
		</dict>
		<dict>
			<key>img</key>
			<string>american-football.png</string>
			<key>txt</key>
			<string>American Football</string>
		</dict>
		<dict>
			<key>img</key>
			<string>american-rules-football.png</string>
			<key>txt</key>
			<string>American Rules Football</string>
		</dict>
		<dict>
			<key>img</key>
			<string>archery.png</string>
			<key>txt</key>
			<string>Archery</string>
		</dict>
		<dict>
			<key>img</key>
			<string>australian-football-league.png</string>
			<key>txt</key>
			<string>Australian Football League</string>
		</dict>
		<dict>
			<key>img</key>
			<string>auto-racing.png</string>
			<key>txt</key>
			<string>Auto Racing</string>
		</dict>
		<dict>
			<key>img</key>
			<string>back-packing.png</string>
			<key>txt</key>
			<string>Back Packing</string>
		</dict>
		<dict>
			<key>img</key>
			<string>badminton.png</string>
			<key>txt</key>
			<string>Badminton</string>
		</dict>
		<dict>
			<key>img</key>
			<string>baseball.png</string>
			<key>txt</key>
			<string>Base Ball</string>
		</dict>
		<dict>
			<key>img</key>
			<string>base-jumping.png</string>
			<key>txt</key>
			<string>Base Jumping</string>
		</dict>
		<dict>
			<key>img</key>
			<string>basketball.png</string>
			<key>txt</key>
			<string>Basket Ball</string>
		</dict>
		<dict>
			<key>img</key>
			<string>baton-twirling.png</string>
			<key>txt</key>
			<string>Baton Twirling</string>
		</dict>
		<dict>
			<key>img</key>
			<string>beach-volleyball.png</string>
			<key>txt</key>
			<string>Beach Volleyball</string>
		</dict>
		<dict>
			<key>img</key>
			<string>beekeeping.png</string>
			<key>txt</key>
			<string>Beekeeping</string>
		</dict>
		<dict>
			<key>img</key>
			<string>billiards.png</string>
			<key>txt</key>
			<string>Billiards</string>
		</dict>
		<dict>
			<key>img</key>
			<string>bird-watching.png</string>
			<key>txt</key>
			<string>Bird Watching</string>
		</dict>
		<dict>
			<key>img</key>
			<string>board-sports.png</string>
			<key>txt</key>
			<string>Board Sports</string>
		</dict>
		<dict>
			<key>img</key>
			<string>body-building.png</string>
			<key>txt</key>
			<string>Body Building</string>
		</dict>
		<dict>
			<key>img</key>
			<string>bowling.png</string>
			<key>txt</key>
			<string>Bowling</string>
		</dict>
		<dict>
			<key>img</key>
			<string>boxing.png</string>
			<key>txt</key>
			<string>Boxing</string>
		</dict>
		<dict>
			<key>img</key>
			<string>brazilian-jiu-jitsu.png</string>
			<key>txt</key>
			<string>Brazilian Jiu Jitsu</string>
		</dict>
		<dict>
			<key>img</key>
			<string>breakdancing.png</string>
			<key>txt</key>
			<string>Break Dancing</string>
		</dict>
		<dict>
			<key>img</key>
			<string>bridge.png</string>
			<key>txt</key>
			<string>Bridge</string>
		</dict>
		<dict>
			<key>img</key>
			<string>cheerleading.png</string>
			<key>txt</key>
			<string>Cheerleading</string>
		</dict>
		<dict>
			<key>img</key>
			<string>chess.png</string>
			<key>txt</key>
			<string>Chess</string>
		</dict>
		<dict>
			<key>img</key>
			<string>cleaning.png</string>
			<key>txt</key>
			<string>Cleaning</string>
		</dict>
		<dict>
			<key>img</key>
			<string>climbing.png</string>
			<key>txt</key>
			<string>Climbing</string>
		</dict>
		<dict>
			<key>img</key>
			<string>cooking.png</string>
			<key>txt</key>
			<string>Cooking</string>
		</dict>
		<dict>
			<key>img</key>
			<string>cricket.png</string>
			<key>txt</key>
			<string>Cricket</string>
		</dict>
		<dict>
			<key>img</key>
			<string>crochet.png</string>
			<key>txt</key>
			<string>Crochet</string>
		</dict>
		<dict>
			<key>img</key>
			<string>curling.png</string>
			<key>txt</key>
			<string>Curling</string>
		</dict>
		<dict>
			<key>img</key>
			<string>cycling.png</string>
			<key>txt</key>
			<string>Cycling</string>
		</dict>
		<dict>
			<key>img</key>
			<string>dancing.png</string>
			<key>txt</key>
			<string>Dancing</string>
		</dict>
		<dict>
			<key>img</key>
			<string>darts.png</string>
			<key>txt</key>
			<string>Darts</string>
		</dict>
		<dict>
			<key>img</key>
			<string>disc-golf.png</string>
			<key>txt</key>
			<string>Disc Golf</string>
		</dict>
		<dict>
			<key>img</key>
			<string>dog-sports.png</string>
			<key>txt</key>
			<string>Dog Sports</string>
		</dict>
		<dict>
			<key>img</key>
			<string>driving.png</string>
			<key>txt</key>
			<string>Driving</string>
		</dict>
		<dict>
			<key>img</key>
			<string>equestrianism.png</string>
			<key>txt</key>
			<string>Equestrianism</string>
		</dict>
		<dict>
			<key>img</key>
			<string>fencing.png</string>
			<key>txt</key>
			<string>Fencing</string>
		</dict>
		<dict>
			<key>img</key>
			<string>field-hockey.png</string>
			<key>txt</key>
			<string>Field Hockey</string>
		</dict>
		<dict>
			<key>img</key>
			<string>figure-skating.png</string>
			<key>txt</key>
			<string>Figure Skating</string>
		</dict>
		<dict>
			<key>img</key>
			<string>fishing.png</string>
			<key>txt</key>
			<string>Fishing</string>
		</dict>
		<dict>
			<key>img</key>
			<string>flag-football.png</string>
			<key>txt</key>
			<string>Flag Football</string>
		</dict>
		<dict>
			<key>img</key>
			<string>flying.png</string>
			<key>txt</key>
			<string>Flying</string>
		</dict>
		<dict>
			<key>img</key>
			<string>footbag.png</string>
			<key>txt</key>
			<string>Footbag</string>
		</dict>
		<dict>
			<key>img</key>
			<string>gambling.png</string>
			<key>txt</key>
			<string>Gambling</string>
		</dict>
		<dict>
			<key>img</key>
			<string>gaming(tabletop).png</string>
			<key>txt</key>
			<string>Gaming(tabletop)</string>
		</dict>
		<dict>
			<key>img</key>
			<string>gardening.png</string>
			<key>txt</key>
			<string>Gardening</string>
		</dict>
		<dict>
			<key>img</key>
			<string>geocaching.png</string>
			<key>txt</key>
			<string>Geocaching</string>
		</dict>
		<dict>
			<key>img</key>
			<string>ghost-hunting.png</string>
			<key>txt</key>
			<string>Ghost Hunting</string>
		</dict>
		<dict>
			<key>img</key>
			<string>golfing.png</string>
			<key>txt</key>
			<string>Golfing</string>
		</dict>
		<dict>
			<key>img</key>
			<string>gymnastics.png</string>
			<key>txt</key>
			<string>Gymnastics</string>
		</dict>
		<dict>
			<key>img</key>
			<string>handball.png</string>
			<key>txt</key>
			<string>Handball</string>
		</dict>
		<dict>
			<key>img</key>
			<string>hiking.png</string>
			<key>txt</key>
			<string>Hiking</string>
		</dict>
		<dict>
			<key>img</key>
			<string>hooping.png</string>
			<key>txt</key>
			<string>Hooping</string>
		</dict>
		<dict>
			<key>img</key>
			<string>hunting.png</string>
			<key>txt</key>
			<string>Hunting</string>
		</dict>
		<dict>
			<key>img</key>
			<string>ice-hockey.png</string>
			<key>txt</key>
			<string>Ice Hockey</string>
		</dict>
		<dict>
			<key>img</key>
			<string>ice-skating.png</string>
			<key>txt</key>
			<string>Ice Skating</string>
		</dict>
		<dict>
			<key>img</key>
			<string>inline-skating.png</string>
			<key>txt</key>
			<string>Inline Skating</string>
		</dict>
		<dict>
			<key>img</key>
			<string>jogging.png</string>
			<key>txt</key>
			<string>Jogging</string>
		</dict>
		<dict>
			<key>img</key>
			<string>judo.png</string>
			<key>txt</key>
			<string>Judo</string>
		</dict>
		<dict>
			<key>img</key>
			<string>jugger.png</string>
			<key>txt</key>
			<string>Jugger</string>
		</dict>
		<dict>
			<key>img</key>
			<string>jukskei.png</string>
			<key>txt</key>
			<string>Jukskei</string>
		</dict>
		<dict>
			<key>img</key>
			<string>kart-racing.png</string>
			<key>txt</key>
			<string>Kart Racing</string>
		</dict>
		<dict>
			<key>img</key>
			<string>kayaking.png</string>
			<key>txt</key>
			<string>Kayaking</string>
		</dict>
		<dict>
			<key>img</key>
			<string>kiteboarding.png</string>
			<key>txt</key>
			<string>Kiteboarding</string>
		</dict>
		<dict>
			<key>img</key>
			<string>kiteflying.png</string>
			<key>txt</key>
			<string>Kiteflying</string>
		</dict>
		<dict>
			<key>img</key>
			<string>LARPing.png</string>
			<key>txt</key>
			<string>Larping</string>
		</dict>
		<dict>
			<key>img</key>
			<string>laser-tag.png</string>
			<key>txt</key>
			<string>Laser Tag</string>
		</dict>
		<dict>
			<key>img</key>
			<string>lawn-tennis.png</string>
			<key>txt</key>
			<string>Lawn Tennis</string>
		</dict>
		<dict>
			<key>img</key>
			<string>letterboxing.png</string>
			<key>txt</key>
			<string>Letterboxing</string>
		</dict>
		<dict>
			<key>img</key>
			<string>mahjong.png</string>
			<key>txt</key>
			<string>Mahjong</string>
		</dict>
		<dict>
			<key>img</key>
			<string>marbles.png</string>
			<key>txt</key>
			<string>Marbles</string>
		</dict>
		<dict>
			<key>img</key>
			<string>martial-arts.png</string>
			<key>txt</key>
			<string>Martial Arts</string>
		</dict>
		<dict>
			<key>img</key>
			<string>metal-detecting.png</string>
			<key>txt</key>
			<string>Metal Detecting</string>
		</dict>
		<dict>
			<key>img</key>
			<string>mountain-biking.png</string>
			<key>txt</key>
			<string>Mountain Biking</string>
		</dict>
		<dict>
			<key>img</key>
			<string>mountaineering.png</string>
			<key>txt</key>
			<string>Mountaineering</string>
		</dict>
		<dict>
			<key>img</key>
			<string>netball.png</string>
			<key>txt</key>
			<string>Netball</string>
		</dict>
		<dict>
			<key>img</key>
			<string>nordic-skating.png</string>
			<key>txt</key>
			<string>Nordic Skating</string>
		</dict>
		<dict>
			<key>img</key>
			<string>paint-ball.png</string>
			<key>txt</key>
			<string>Paint Ball</string>
		</dict>
		<dict>
			<key>img</key>
			<string>parkour.png</string>
			<key>txt</key>
			<string>Parkour</string>
		</dict>
		<dict>
			<key>img</key>
			<string>photography.png</string>
			<key>txt</key>
			<string>Photography</string>
		</dict>
		<dict>
			<key>img</key>
			<string>ping-pong.png</string>
			<key>txt</key>
			<string>Ping Pong</string>
		</dict>
		<dict>
			<key>img</key>
			<string>poker.png</string>
			<key>txt</key>
			<string>Poker</string>
		</dict>
		<dict>
			<key>img</key>
			<string>polo.png</string>
			<key>txt</key>
			<string>Polo</string>
		</dict>
		<dict>
			<key>img</key>
			<string>racquetball.png</string>
			<key>txt</key>
			<string>Racquetball</string>
		</dict>
		<dict>
			<key>img</key>
			<string>rafting.png</string>
			<key>txt</key>
			<string>Rafting</string>
		</dict>
		<dict>
			<key>img</key>
			<string>rappelling.png</string>
			<key>txt</key>
			<string>Rappelling</string>
		</dict>
		<dict>
			<key>img</key>
			<string>rock-climbing.png</string>
			<key>txt</key>
			<string>Rock-climbing</string>
		</dict>
		<dict>
			<key>img</key>
			<string>roller-derby.png</string>
			<key>txt</key>
			<string>Roller-derby</string>
		</dict>
		<dict>
			<key>img</key>
			<string>roller-skating.png</string>
			<key>txt</key>
			<string>Roller-skating</string>
		</dict>
		<dict>
			<key>img</key>
			<string>rugby.png</string>
			<key>txt</key>
			<string>Rugby</string>
		</dict>
		<dict>
			<key>img</key>
			<string>running.png</string>
			<key>txt</key>
			<string>Running</string>
		</dict>
		<dict>
			<key>img</key>
			<string>sailing.png</string>
			<key>txt</key>
			<string>Sailing</string>
		</dict>
		<dict>
			<key>img</key>
			<string>sand-castle-building.png</string>
			<key>txt</key>
			<string>Sand-castle-building</string>
		</dict>
		<dict>
			<key>img</key>
			<string>scuba-diving.png</string>
			<key>txt</key>
			<string>Scuba Diving</string>
		</dict>
		<dict>
			<key>img</key>
			<string>sculling-or-rowing.png</string>
			<key>txt</key>
			<string>Sculling or Rowing</string>
		</dict>
		<dict>
			<key>img</key>
			<string>shooting.png</string>
			<key>txt</key>
			<string>Shooting</string>
		</dict>
		<dict>
			<key>img</key>
			<string>shopping.png</string>
			<key>txt</key>
			<string>Shopping</string>
		</dict>
		<dict>
			<key>img</key>
			<string>skateboarding.png</string>
			<key>txt</key>
			<string>Skateboarding</string>
		</dict>
		<dict>
			<key>img</key>
			<string>skiing.png</string>
			<key>txt</key>
			<string>Skiing</string>
		</dict>
		<dict>
			<key>img</key>
			<string>skimboarding.png</string>
			<key>txt</key>
			<string>Skimboarding</string>
		</dict>
		<dict>
			<key>img</key>
			<string>skydiving.png</string>
			<key>txt</key>
			<string>Skydiving</string>
		</dict>
		<dict>
			<key>img</key>
			<string>slacklining.png</string>
			<key>txt</key>
			<string>Slacklining</string>
		</dict>
		<dict>
			<key>img</key>
			<string>snooker.png</string>
			<key>txt</key>
			<string>Snooker</string>
		</dict>
		<dict>
			<key>img</key>
			<string>snowboarding.png</string>
			<key>txt</key>
			<string>Snowboarding</string>
		</dict>
		<dict>
			<key>img</key>
			<string>soccer.png</string>
			<key>txt</key>
			<string>Soccer</string>
		</dict>
		<dict>
			<key>img</key>
			<string>speed-skating.png</string>
			<key>txt</key>
			<string>Speed Skating</string>
		</dict>
		<dict>
			<key>img</key>
			<string>squash.png</string>
			<key>txt</key>
			<string>Squash</string>
		</dict>
		<dict>
			<key>img</key>
			<string>surfing.png</string>
			<key>txt</key>
			<string>Surfing</string>
		</dict>
		<dict>
			<key>img</key>
			<string>swimming.png</string>
			<key>txt</key>
			<string>Swimming</string>
		</dict>
		<dict>
			<key>img</key>
			<string>table-football.png</string>
			<key>txt</key>
			<string>Table Football</string>
		</dict>
		<dict>
			<key>img</key>
			<string>table-tennis.png</string>
			<key>txt</key>
			<string>Table Tennis</string>
		</dict>
		<dict>
			<key>img</key>
			<string>taekwondo.png</string>
			<key>txt</key>
			<string>Taekwondo</string>
		</dict>
		<dict>
			<key>img</key>
			<string>Tai-Chi.png</string>
			<key>txt</key>
			<string>Tai Chi</string>
		</dict>
		<dict>
			<key>img</key>
			<string>target-shooting.png</string>
			<key>txt</key>
			<string>Target Shooting</string>
		</dict>
		<dict>
			<key>img</key>
			<string>tennis.png</string>
			<key>txt</key>
			<string>Tennis</string>
		</dict>
		<dict>
			<key>img</key>
			<string>touch-football.png</string>
			<key>txt</key>
			<string>Touch Football</string>
		</dict>
		<dict>
			<key>img</key>
			<string>tour-skating.png</string>
			<key>txt</key>
			<string>Tour Skating</string>
		</dict>
		<dict>
			<key>img</key>
			<string>triathlon.png</string>
			<key>txt</key>
			<string>Triathlon</string>
		</dict>
		<dict>
			<key>img</key>
			<string>ultimate-frisbee.png</string>
			<key>txt</key>
			<string>Ultimate Frisbee</string>
		</dict>
		<dict>
			<key>img</key>
			<string>urban-exploration.png</string>
			<key>txt</key>
			<string>Urban Exploration</string>
		</dict>
		<dict>
			<key>img</key>
			<string>vehicle-restoration.png</string>
			<key>txt</key>
			<string>Vehicle Restoration</string>
		</dict>
		<dict>
			<key>img</key>
			<string>Volleyball.png</string>
			<key>txt</key>
			<string>Volleyball</string>
		</dict>
		<dict>
			<key>img</key>
			<string>water-sports.png</string>
			<key>txt</key>
			<string>Water Sports</string>
		</dict>
		<dict>
			<key>img</key>
			<string>weightlifting.png</string>
			<key>txt</key>
			<string>Weightlifting</string>
		</dict>
		<dict>
			<key>img</key>
			<string>Yoga.png</string>
			<key>txt</key>
			<string>Yoga</string>
		</dict>
		<dict>
			<key>img</key>
			<string>yo-yoing.png</string>
			<key>txt</key>
			<string>Yo Yoing</string>
		</dict>
	</array>
</dict>
</plist>
